<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbw.springboot.dao.TimerStatisticDao">
    <resultMap id="BaseResultMap" type="com.zbw.springboot.pojo.CustomerCnt">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="customer_id" jdbcType="BIGINT" property="customer_id" />
        <result column="fans_cnt" jdbcType="INTEGER" property="fans_cnt" />
        <result column="thumb_cnt" jdbcType="INTEGER" property="thumb_cnt" />
        <result column="attention_cnt" jdbcType="INTEGER" property="attention_cnt" />
        <result column="invite_cnt" jdbcType="INTEGER" property="invite_cnt" />
        <result column="invite_cnt_uptime" jdbcType="TIMESTAMP" property="invite_cnt_uptime" />
    </resultMap>
    <resultMap id="BaseResultMapTwo" type="com.zbw.springboot.pojo.ExportUser">
        <id column="customer_id" jdbcType="BIGINT" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="last_login_city" jdbcType="VARCHAR" property="address" />
        <result column="register_date" jdbcType="VARCHAR" property="registerDate" />
        <result column="weixin" jdbcType="VARCHAR" property="wechatCredentials" />
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, fans_cnt, thumb_cnt, attention_cnt, invite_cnt
  </sql>
    <select id="findCustomerCntAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from y_customer_cnt where  fans_cnt &lt;&gt; 0 or attention_cnt &lt;&gt; 0;
    </select>
    <select id="getExportUser" resultMap="BaseResultMapTwo">
      select customer_id,CONCAT(surname,NAME) as userName,mobile,last_login_city,register_date,weixin from y_customer where customer_status=0
        <if test="type != null and type != ''">
            and  vip_type=#{type}
        </if>
        <if test="endDate != null and endDate != ''">
            and  register_date &lt;= #{endDate}
        </if>
        <if test="startDate != null and startDate != ''">
            and  register_date &gt;= #{startDate}
        </if>
        ORDER BY register_date DESC
    </select>
    <select id="getMutualFans" resultType = "java.lang.Integer">
             SELECT
          COUNT(*)
        FROM
          y_customer_relation
        WHERE customer_id = #{customer_id} and relation_type=2
    </select>
</mapper>